<div class="d-flex justify-content-center">
    <!-- <a href="#" class="btn btn-default">
      <i class="fa-facebook fa fa-lg" [class.fa-inverse]="inverse"></i>
    </a> -->
    <a href="https://vk.com/sfc.slutsk" class="btn btn-default">
      <i class="fa-vk fa fa-lg" [class.fa-inverse]="inverse"></i>
    </a>
    <a href="https://youtube.com/sfcslutsk" class="btn btn-default">
      <i class="fa-youtube fa fa-lg" [class.fa-inverse]="inverse"></i>
    </a>
    <a href="https://instagram.com/sfc.slutsk/" class="btn btn-default">
      <i class="fa-instagram fa fa-lg" [class.fa-inverse]="inverse"></i>
    </a>
    <a href="https://twitter.com/slutsksfc" class="btn btn-default">
      <i class="fa-twitter fa fa-lg" [class.fa-inverse]="inverse"></i>
    </a>
  </div>