<section class="cover">
    <div class="cover-var-b">
        <div class="cover-container align-items-center" [class.d-flex]="_actualPublicationsLoaded">
            <app-main-slider [publications]="actualPublications"></app-main-slider>
        </div>
    </div>
</section>
<section class="cover">
    <div class="cover-var-d">
        <div class="cover-container">
            <h3>{{ 'NEWS' | translate }}</h3>
            <app-preview-content-panel 
                [routePart]="'/publications'"
                [items]="publications">
            </app-preview-content-panel>
        </div>
    </div>
</section>
<section class="cover">
    <div class="cover-var-b">
        <div class="cover-container">
            <h3>{{ 'VIDEO' | translate }}</h3>
            <app-preview-content-panel 
                [routePart]="'/videos'" 
                [items]="videos">
            </app-preview-content-panel>
        </div>
    </div>
</section>
<section class="cover">
    <div class="cover-var-d">
        <div class="cover-container">
            <h3>{{ 'PHOTO' | translate }}</h3>
            <app-preview-content-panel 
                [routePart]="'/galleries'" 
                [items]="galleries">
            </app-preview-content-panel>
        </div>
    </div>
</section>