<!-- <section class="container pt-4 pb-4">
    <app-main-block-first></app-main-block-first>
</section> -->
<section class="cover">
    <div class="cover-var-b">
        <div class="cover-container d-flex align-items-center">
            <app-main-block-first></app-main-block-first>
        </div>
    </div>
</section>
<section class="cover">
    <div class="cover-var-d">
        <div class="cover-container">
            <h3>{{ 'NEWS' | translate}}</h3>
            <app-preview-content-panel></app-preview-content-panel>
        </div>
    </div>
</section>
<section class="cover">
    <div class="cover-var-b">
        <div class="cover-container">
            <h3>Видео</h3>
            <app-preview-content-panel></app-preview-content-panel>
        </div>
    </div>
</section>
<section class="cover">
    <div class="cover-var-d">
        <div class="cover-container">
            <h3>Фото</h3>
            <app-preview-content-panel></app-preview-content-panel>
        </div>
    </div>
</section>