<section class="fc-page container">
  <!-- <h2 class="fc-page-title">{{ 'CONTACTS' | translate }}</h2> -->
  <!-- <div class="row">
    <div class="col-12">
    </div> -->
    <h2 class="fc-page-title">Правила поведения на стадионе</h2>
    <p>Меры по охране общественного порядка и обеспечению
    общественной безопасности при проведении спортивно-
    массовых мероприятий
    При проведении спортивно-массовых мероприятий охрана
    общественного порядка и обеспечение общественной безопасности на
    территории физкультурно-спортивных сооружений и специально
    оборудованных мест для болельщиков, а также на территории, прилегающей к физкультурно-спортивным сооружениям, путях эвакуации и в общественных местах, прилегающих к местам проведения спортивно-массовых мероприятий,
    осуществляются в порядке, установленном законодательством.
    В целях охраны общественного порядка и обеспечения общественной
    безопасности во время проведения спортивно-массовых мероприятий на
    территорию физкультурно-спортивных сооружений и специально
    оборудованных мест для болельщиков не допускаются лица, которые:
    не имеют в установленных случаях входного билета или иного документа,
    дающего право прохода на территорию физкультурно-спортивных сооружений и специально оборудованных мест для болельщиков;
    скрывают свои лица под масками;
    отказываются от личного досмотра либо от досмотра находящихся при
    них вещей;
    имеют при себе:
    предметы и вещества, запрещенные к проносу Правилами безопасности
    проведения занятий физической культурой и спортом, в том числе
    алкогольные, слабоалкогольные напитки, пиво, наркотические средства,
    психотропные вещества, их аналоги, токсические или другие одурманивающие вещества, холодное, огнестрельное, газовое или иное оружие, составные части и компоненты оружия, взрывчатые вещества и боеприпасы, специально изготовленные или приспособленные предметы, использование которых может представлять угрозу жизни и здоровью людей, причинить материальный ущерб физическим лицам, организациям, препятствовать проведению спортивно-массового мероприятия, за исключением случаев, предусмотренных законодательными актами;
    имитаторы и муляжи холодного, огнестрельного, газового или иного
    оружия, взрывчатых веществ и боеприпасов;
    флаги, вымпелы, не зарегистрированные в установленном порядке, а
    также эмблемы, символы, плакаты, транспаранты и иные средства, содержание которых направлено на причинение ущерба общественному порядку, правам и законным интересам граждан, а также на пропаганду войны или связано с экстремистской деятельностью;
    находятся в состоянии алкогольного опьянения или в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их
    аналогов, токсических или других одурманивающих веществ;
    совершают иные действия, нарушающие установленный порядок
    организации и проведения спортивно-массового мероприятия, препятствуют
    осуществлению мер по охране общественного порядка и обеспечению
    общественной безопасности, а также подстрекают иных лиц к таким действиям любыми методами.
    Сотрудники органов внутренних дел, выполняющие обязанности по охране общественного порядка, вправе проводить личный досмотр граждан и
    досмотр находящихся при них вещей, в том числе с помощью технических и
    специальных средств. Личный досмотр граждан производится лицом одного
    пола с досматриваемым.
    3. Во время проведения спортивно-массовых мероприятий на территории
    физкультурно-спортивных сооружений и специально оборудованных мест для болельщиков запрещается:
    находиться в состоянии алкогольного опьянения или в состоянии, вызванном потреблением наркотических средств, психотропных веществ, их аналогов, токсических или других одурманивающих веществ;
    иметь при себе и (или) использовать предметы и вещества, запрещенные
    к проносу Правилами безопасности проведения занятий физической культурой и спортом, в том числе алкогольные, слабоалкогольные напитки, пиво, холодное, огнестрельное, газовое или иное оружие, составные части и
    компоненты оружия, взрывчатые вещества и боеприпасы, специально
    изготовленные или приспособленные предметы, использование которых может представлять угрозу жизни и здоровью людей, причинить материальный ущерб физическим лицам, организациям, препятствовать проведению спортивно-массового мероприятия, за исключением случаев, предусмотренных законодательными актами;
    иметь при себе и (или) использовать имитаторы и муляжи холодного,
    огнестрельного, газового или иного оружия, взрывчатых веществ и
    боеприпасов;
    распивать в не предназначенных для этого местах алкогольные, слабоалкогольные напитки, а также пиво;
    пользоваться источниками открытого огня, курить, потреблять наркотические средства, психотропные вещества, их аналоги, токсические или другие одурманивающие вещества;
    скрывать свои лица под масками, действовать методами, создающими
    угрозу общественной безопасности, жизни и здоровью спортсменов, тренеров,
    судей по спорту, участвующих в спортивно-массовых мероприятиях,
    болельщиков и (или) иных физических лиц, находящихся в местах проведения спортивно-массовых мероприятий, за исключением случаев, предусмотренных законодательными актами;
    осуществлять пропаганду войны или экстремистскую деятельность, в том 
    числе с использованием плакатов, транспарантов или иных средств;
    иметь при себе и (или) пользоваться флагами, вымпелами, не
    зарегистрированными в установленном порядке, а также эмблемами,
    символами, плакатами, транспарантами и иными средствами, содержание
    которых направлено на причинение ущерба общественному порядку, правам и законным интересам граждан;
    воздействовать в какой бы то ни было форме на сотрудников органов
    внутренних дел в целях воспрепятствования выполнению ими служебных
    обязанностей, а также на организаторов спортивно-массовых мероприятий,
    администрацию и иных работников, осуществляющих обслуживание
    физкультурно-спортивных сооружений, представителей общественности,
    выполняющих обязанности по охране общественного порядка, в целях
    воспрепятствования выполнению ими служебных и общественных
    обязанностей по охране общественного порядка и обеспечению общественной безопасности;
    совершать иные действия, нарушающие установленный порядок
    организации и проведения спортивно-массовых мероприятий, а также
    подстрекать иных лиц к таким действиям любыми методами.
    Лица, не соблюдающие указанные ограничения, выдворяются за пределы
    территории физкультурно-спортивных сооружений и специально
    оборудованных мест для болельщиков без возмещения стоимости входного
    билета и привлекаются к ответственности в случаях, установленных
    законодательными актами.</p>
</section>