<section class="container">
  <div class="fc-page fc-article">
    <h2 class="fc-page-title">{{ 'STADIUM_RULES' | translate }}</h2>
    <p>Настоящие Правила определяют нормы поведения зрителей на стадионе при посещении футбольных матчей, проводимых на территории Республики Беларусь</p>
    <ul style="list-style: none;">
      <li>
        <h4>1. Общие положения</h4>
        <ul style="list-style: none;">
          <li>
            <p>1.1 Зрителями признаются граждане, прибывшие на стадион при наличии входного билета, абонемента, приглашения, других документов установленного образца, и не связанные с организацией и обеспечением проведения матча.</p>
          </li>
          <li>
            <p>1.2 Организатор матча в целях обеспечения безопасности отдельных категорий зрителей может вводить особые условия посещения матча для этих категорий с обязательным уведомлением о принятом решении администрации стадиона, правоохранительных органов, зрителей до начала реализации входных билетов.</p>
          </li>
          <li>
            <p>1.3 Вход в стадион подразумевает принятие и добровольное исполнение зрителями данных Правил, действующих в течение всего времени их нахождения на стадионе.</p>
          </li>
          <li>
            <p>1.4 Контроль за соблюдением Правил возлагается на организатора матча, сотрудников правоохранительных органов, МЧС, а также служб стадиона, привлекаемых для обеспечения контрольно-пропускного режима, рассадки зрителей и охраны общественного порядка (службы безопасности, контролеры, администраторы, стюарды, волонтеры и др.).</p>
          </li>
          <li>
            <p>1.5 Зрители, не соблюдающие Правила, не допускаются на стадион или выдворяются за его пределы без возмещения стоимости входного билета, а в случаях совершения ими противоправных действий привлекаются к административной или уголовной ответственности.</p>
          </li>
          <li>
            <p>1.6 Организатор матча вправе проводить фото-, видеосъемку зрителей с целью предупреждения противоправной деятельности.</p>
          </li>
      </ul>
      </li>
      <li>
        <h4>2. Зрители имеют право</h4>
        <ul style="list-style: none;">
          <li>
            <p>2.1 При наличии входных билетов, абонементов, приглашений, другихдокументов установленного образца входить на стадион до и во времяматча. Время начала прохода на стадион определяется совместным&nbsp;решением организатора матча, администрации стадиона и правоохранительных органов.</p>
          </li>
          <li>
            <p>2.2 Пользоваться всеми услугами, предоставляемыми организаторами матча и администрацией стадиона.</p>
          </li>
          <li>
            <p>2.3 Приносить на трибуны стадиона и использовать:</p>
            <ul>
              <li>табачные изделия и зажигалки при условии их использования только в специально отведенных для курения зонах;</li>
              <li>атрибутику, официально утверждённую руководителями клубов и местных правоохранительных органов;</li>
            </ul>
          </li>
          <li>
            <p>2.4 Представителям объединений болельщиков в целях поддержки команды при назначении ответственных из числа болельщиков за каждую единицу нижеуказанных средств поддержки, разрешен пронос и использование:</p>
            <ul>
              <li>барабанов с одной мембраной, с открытым дном, диаметром до 60 см и высотой до 40 см, со штатными палочками;</li>
              <li>утверждённых баннеров различных конфигураций, при условии, что они будут размещены на трибунах таким образом, что не будут мешать просмотру матча другими зрителями. Баннеры должны быть изготовлены из невоспламеняющихся материалов. Содержание баннеров должно быть направлено только на поддержку своего клуба, не содержать оскорбительных, нецензурных, провокационных текстов, слов, символов, изображений;</li>
              <li>флагов на пластиковом пустотелом древке. Длина древка не может превышать 1,5 м. Флаги должны быть изготовлены из невоспламеняющихся материалов. Использование таких флагов разрешено на &laquo;гостевом&raquo; и &laquo;фанатском&raquo; секторах. Содержание изображений на флагах должно быть направлено только на поддержку своего клуба, не содержать оскорбительных, нецензурных, провокационных текстов, слов, символов, изображений;</li>
            </ul>
            <p>Средства поддержки, содержащие слова и выражения на иностранном языке, должны иметь русский перевод.</p>
            <p>Средства поддержки, содержащие аббревиатуры и сочетания цифр, должны быть утверждены руководством клуба и территориальными правоохранительными органами.</p>
            <p>В случае нарушения зрителями настоящих Правил может быть принято решение о запрете спользования на футбольных матчах вышеперечисленных средств поддержки.</p>
          </li>
        </ul>
      </li>
      <li>
        <h4>3. Зрители обязаны</h4>
        <ul style="list-style: none;">
          <li>
            <p>3.1 Предъявлять сотрудникам, осуществляющим контрольно-пропускной режим, входные билеты, абонементы, приглашения, другие документы, дающие право прохода на стадион, а также пропуска на въезд автотранспорта на прилегающую территорию.</p>
          </li>
          <li>
            <p>3.2 В целях обеспечения безопасности и воспрепятствованию проноса запрещенных предметов при входе на стадион, а в некоторых случаях при входе на прилегающую огороженную территорию, проходить спецконтроль (досмотр).</p>
          </li>
          <li>
            <p>3.3 Занимать места на трибунах согласно входным билетам, абонементам и приглашениям.</p>
          </li>
          <li>
            <p>3.4 Выполнять законные распоряжения организатора матча, администрации стадиона отрудников правоохранительных органов и МЧС, соблюдать общественный порядок и общепринятые нормы поведения.</p>
          </li>
          <li>
            <p>3.5 Незамедлительно сообщать администрации стадиона и сотрудникам правоохранительных органов о случаях обнаружения подозрительных предметов, случаях задымления или пожара, совершающихся правонарушениях, других угрозах безопасности.</p>
          </li>
          <li>
            <p>3.6 Бережно относиться к имуществу стадиона, соблюдать чистоту.</p>
          </li>
        </ul>
      </li>
      <li>
        <h4>4. Зрителям запрещается</h4>
        <ul style="list-style: none;">
          <li>
            <p>4.1. Находиться на стадионе в состоянии алкогольного, наркотического или токсического опьянения;</p>
          </li>
          <li>
            <p>4.2. Проносить на стадион, использовать, приводить в действие:</p>
            <ul>
              <li>спиртные напитки;</li>
              <li>любого вида оружие и боеприпасы;</li>
              <li>колющие или режущие предметы;</li>
              <li>дымовые шашки;</li>
              <li>флаеры;</li>
              <li>сигнальные ракеты;</li>
              <li>петарды;</li>
              <li>пиротехнику,</li>
              <li>иные вещества, предметы, изделия, в том числе самодельного изготовления, использование которых может привести к задымлению, воспламенению и иным негативным последствиям;</li>
              <li>огнеопасные, взрывчатые, ядовитые, отравляющие и едко пахнущие вещества;</li>
              <li>легковоспламеняющиеся, пожароопасные материалы и предметы;</li>
              <li>красящие вещества;</li>
              <li>наркотические средства;</li>
              <li>радиоактивные материалы;</li>
              <li>газовые баллончики нервнопаралитического и слезоточивого воздействия;</li>
              <li>лазерные устройства;</li>
              <li>другие предметы, которые могут быть использованы в качестве оружия;</li>
              <li>жестяные банки, стеклянную, пластиковую посуду, бутылки и емкости;</li>
              <li>крупногабаритные вещи, мешающие другим зрителям, а также нормальному проведению мероприятия;</li>
              <li>барабаны, дудки, мегафоны и другие подобные предметы, профессиональную фото- и видеотехнику, средства для трансляции через интернет;</li>
              <li>радиостанции;</li>
              <li>вещи, размеры которых превышают 25Х25Х25 см;</li>
              <li>предметы, которые могут быть использованы, как метательные: зонтики типа &laquo;Трость&raquo;, упаковки &laquo;Тетрапак&raquo;;</li>
            </ul>
          </li>
          <li>
            <p>4.3. Курить в местах, где это запрещено администрацией стадиона;</p>
          </li>
          <li>
            <p>4.4. Разжигать огонь;</p>
          </li>
          <li>
            <p>4.5. Бросать предметы на трибуны, футбольное поле и пространство вокруг него, а также целенаправленно в зрителей, футболистов, тренеров, судей, представителей клубов, стадиона, сотрудников правоохранительных органов, официальных лиц организатора соревнований;</p>
          </li>
          <li>
            <p>4.6. Носить и выставлять напоказ знаки, атрибутику и иную символику фашистского и расистского характера;</p>
          </li>
          <li>
            <p>4.7. Использовать слова и выражения, а также жестикуляцию фашистского и расистского характера;</p>
          </li>
          <li>
            <p>4.8. Использовать нецензурные и оскорбительные слова и выражения, а также жестикуляцию;</p>
          </li>
          <li>
            <p>4.9. Использовать атрибутику, баннеры, скандирование, выкрики, жестикуляцию, возбуждающие социальную, расовую, религиозную, национальную и межгосударственную ненависть, а также социальное, расовое, религиозное, национальное и межгосударственное превосходство;</p>
          </li>
          <li>
            <p>4.10. Использовать элементы одежды, иные предметы и методы с целью скрытия лица;</p>
          </li>
          <li>
            <p>4.11. Нарушать общественную мораль и нормы поведения путем обнажения частей тела во время нахождения на стадионе;</p>
          </li>
          <li>
            <p>4.12. Вести себя провокационно, угрожающе в отношении других зрителей и участников матча, создавать угрозу жизни и безопасности себе, другим лицам, или подвергать опасности кого бы то ни было, каким бы ни было образом;</p>
          </li>
          <li>
            <p>4.13. Выходить за ограждения к футбольному полю и на него, появляться в раздевалках команд, судей, пресс-центрах и других служебных помещениях.</p>
          </li>
          <li>
            <p>4.14. Находиться во время проведения матча в проходах, на лестницах, создавать помехи передвижению участников и зрителей, вставать на сидения, прыгать, устраивать имитацию противоправных действий, находясь на трибунах, забираться на ограждения, парапеты, осветительные устройства, мачты, несущие конструкции, наносить вред имуществу спортсооружения и зрителей;</p>
          </li>
          <li>
            <p>4.15. Приходить на стадион с животными;</p>
          </li>
          <li>
            <p>4.16. Проводить любые политические акции;</p>
          </li>
          <li>
            <p>4.17. Осуществлять торговлю, распространять любым способом продукцию рекламного, сувенирного, политического, религиозного и расистского характера (включая плакаты, листовки, буклеты);</p>
          </li>
          <li>
            <p>4.18. Осуществлять спекулятивную торговлю с рук входными билетами на матч.</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>