@import './variables';
@import 'node_modules/bootstrap/scss/functions';

body {
    // background: $blue url("~/assets/bg-1.png") center;
    background-color: $white;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

a, .btn-link {
    cursor: pointer;
}

.tertiary-links {
    a {
        color: theme-color("tertiary");
    }

    a:hover {
        color: theme-color("info");
    }

    .breadcrumb-item {
        &.active {
            color: $gray-500;
        }
    }
}

.inline-divider {
    border-right: 1px solid;
    padding-right: 0.75rem;
    margin-right: 0.75rem;
}

#logo-brand-top {
    max-height: 120px;
}

.fc-page {
    .fc-page-title, 
    .fc-page-header {
        color: theme-color("secondary");
    }

    .fc-page-title {
        margin-bottom: 2rem;
    }

    .fa {
        color: theme-color("primary");
    }

    .card-title {
        color: theme-color("secondary");
        font-weight: 400;
    }
}

.fc-pair {
    .fc-pair-key {
        color: theme-color("secondary");
        display: inline-block;
        font-weight: normal;
    }

    .fc-pair-value {
        display: inline-block;
    }
}

.global-header {        
    background: $blue url("/assets/img/skin/x-bg1.jpg") center;
    background-size: cover;
    background-position: 50% 50%;
    color: $white;
}

.fc-bt-tertiary-2 {
    border-top: 2px solid theme-color("tertiary");
}

.fc-bb-tertiary-2 {
    border-bottom: 2px solid theme-color("tertiary");
}

