@import './variables';

body {
    // background: $blue url("~/assets/bg-1.png") center;
    background-color: #fff;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

#logo-brand-top {
    max-height: 120px;
}

.global-header {        
    background: $blue url("/assets/img/skin/x-bg1.jpg") center;
    background-size: cover;
    background-position: 50% 50%;
    color: $white;
}

.fc-bt-tertiary-2 {
    border-top: 2px solid $tertiary;
}

.fc-bb-tertiary-2 {
    border-bottom: 2px solid $tertiary;
}