.fc-article {
    &.fc-article-info {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    font-weight: 300;
    padding: 0.25px;
    font-size: 1.25rem;

    .fc-heder {
        @extend h2;
        text-align: left;
        padding: 1rem 0.25rem 1rem 0.25rem;
        color: theme-color("secondary");

        .fa, small {
            color: theme-color("secondary");
        }

        .fa {
            font-size: 1rem;
            margin-left: 1rem;
        }

        small {
            padding-left: 1rem;
            font-weight: 300;
            font-size: 75%;
        }
    }

    .fc-article-main-img {
        padding: 0.75rem 1.5rem 0.75rem 0.25rem;
        max-width: 600px;
    }

    .fc-social-share {
        @extend .d-flex;
        @extend .alert;
        @extend .alert-info;

        padding: 0.5rem 1.25rem;
    }

    .fc-data {
        margin-bottom: .5rem;
        padding-bottom: 1rem;
    }

    .fc-lead {
        font-weight: 400;
        @extend p;
    }

    .fc-content {
        @extend p;
    }

    // .fc-add {
        
    // }

    .fc-footer {
        border-top: 1px solid $border-color;
        padding: 1rem 0.25rem;
        color: theme-color("secondary");
        font-weight: 300;
    }

    .mat-expansion-panel-content {
        font: inherit;
    }
}