@import './variables';
@import 'node_modules/bootstrap/scss/functions';

.publication-announcement {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 145px;    

    .publication-announcement-body {
        border-bottom: 1px solid theme-color("primary-muted");
    }

    .publication-announcement-meta {
        margin-left: 0;
        margin-right: 0;

        .fa {
            color: theme-color("primary-muted");
        }        
    }
}

.publication-announcement:hover {
    background-color: $gray-100;

    .publication-announcement-description {        
    }
}