<div class="fc-article">
  <h4>{{ 'Y_S_S_SLUTSK' | translate }}</h4>
  <p>Детско-юношеская спортивная школа «Слуцк» была образована в 2017 году на базе молодежного отделения спортивного футбольного клуба «Слуцк».</p>
  <p>На данный момент в ДЮСШ занимаются юноши с 2000 по 2010 г.р. Команды 2000-2003 г.р. играют в юношеском чемпионате страны по футболу, ребята 2003-2006 г.р. выступают в чемпионате Минской области по футболу. Помимо этого, команды нашей ДЮСШ регулярно выступают в местных и международных турнирах.</p>
  <p>Тренировки проходят на искусственном поле стадиона УО «Слуцкий государственный колледж». В зимнее время дети тренируются в зале СДЮСШОР г. Слуцка.</p>
</div>