@import './src/style/sass/_variables.scss';

.publication-preview {
    padding: 4px 10px 2px 10px;

    &.active {
        border-bottom: 1px solid $tertiary;
        background-color: $gray-200
    }
}