<div class="row">
    <div class="col-sm-8">
        <app-fc-image-slider></app-fc-image-slider>
    </div>
    <div class="col-sm-4">
        <div>
            <h4>Заголовок вам в плечи</h4>
            <p>Бывший капитан "Интера" Джузеппе Бергоми посоветовал "Ювентусу" "играть как "Интер", чтобы добиться успеха в предстоящем матче против "Наполи.</p>
        </div>
        <div>
            <h4>Заголовок вам в плечи 2</h4>
            <p>Впереди сыграет Манджукич, под которым будут находиться Дибала и Дуглас Коста. Также Бенатиа выйдет с первых минут.</p>
        </div>
        <div>
            <h4>Заголовок вам в плечи 3</h4>
            <p>Управляющий командой сборной Германии, Оливер Бирхофф уверен, что с вероятностью в 60-80% Эмре Джан следующим летом станет игроком "Ювентуса".</p>
        </div>
    </div>
</div>