<div class="d-inline-flex">
  <div><a class="d-inline-flex p-1" (click)="switchLanguage('ru')" href="javascript:void(0);"><div class="inline-flag ru ng-scope" title="рус"></div></a></div>
  <div><a class="d-inline-flex p-1" (click)="switchLanguage('by')" href="javascript:void(0);"><div class="inline-flag by ng-scope" title="бел"></div></a></div>
  <div><a class="d-inline-flex p-1" (click)="switchLanguage('en')" href="javascript:void(0);"><div class="inline-flag uk ng-scope" title="en"></div></a></div>
</div>