<div class="border-right">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link"
          [class.active]="youthTeamPageActivation.about"
          [routerLink]="'about'">{{ 'INFORMATION' | translate }}</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link"
          [class.active]="youthTeamPageActivation.games"
          [routerLink]="'games'">{{ 'GAMES' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          [class.active]="youthTeamPageActivation.results"
          [routerLink]="'results'">{{ 'RESULTS' | translate }}</a>
      </li>        
    </ul>
  </div>