<section class="fc-main-header container-fluid bg-white text-primary pt-5 py-md-4">
  <br class="d-block d-md-none">
  <div class="container"> 
    <div class="row">
      <div class="text-center text-md-left text-xl-center col col-md order-md-2 col-xl order-xl-1">
        <div class="row d-none d-md-block">
          <div class="col">
            <h4 class="font-weight-light">
              <small class="text-lowercase font-weight-light text-muted" style="font-size: medium; letter-spacing: 10px;">Официальный сайт</small>
              <br>
              <span>Спортиный футбольный клуб <b class="text-uppercase">«Слуцк»</b></span>
            </h4>
          </div>
        </div>
        <div class="fc-slogan d-none d-md-flex flex-column align-content-center bg-primary fc-bb-tertiary-2">
          <h6 class="text-uppercase font-weight-normal text-tertiary pt-2" style="font-size: small; letter-spacing: 1px;">Футбол - это не всё, но все без футбола - ничто!</h6>
        </div>
      </div>
      <div class="col-12 col-md-2 order-md-1 col-xl-2  order-xl-2 text-center align-self-center">
            <img id="logo-brand-top" class="img-fluid" src="/assets/img/skin/logo-brand_800x800.png">
      </div>
      <div class="col-12 order-md-3 col-xl order-xl-3 py-3 py-xl-0">
      </div>
    </div>
  </div>
</section>