<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary tertiary-links">
    <li *ngFor="let item of breadcrumbChain; let last = last;" class="breadcrumb-item">
      <a *ngIf="!last || breadcrumbTitle" [routerLink]="item.path">{{ (item.i18nKey | translate) !== item.i18nKey ? (item.i18nKey | translate) : item.defaultName }}</a>
      <span *ngIf="last && !breadcrumbTitle">{{ (item.i18nKey | translate) !== item.i18nKey ? (item.i18nKey | translate) : item.defaultName }}</span>
    </li>
    <li *ngIf="breadcrumbTitle" class="breadcrumb-item active" >{{ breadcrumbTitle }}</li>
  </ol>
</nav>