@import './src/style/sass/_variables.scss';

.carousel-caption {
    background-color: transparentize($primary, 0.25);
    padding-left: 10px;
    padding-right: 10px;

    .carusel-caption-extra {
        right: 0;
        bottom: 0;

        &.text-tertiary  {
            .fa {
                color: theme-color("tertiary");
            }
        }
    }

    a {
        color: $white;        
    }
}