<h4 class="text-uppercase text-secondary">Bootstrap test</h4>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#!">Action</a>
    <a class="dropdown-item" href="#!">Another action</a>
  </div>
</div>
<hr>
<div>
  <button class="btn btn-outline-secondary" (click)="switchLanguage('en')">en</button>
  <button class="btn btn-outline-secondary" (click)="switchLanguage('ru')">рус</button>
</div>
<h4 class="text-uppercase text-white">{{ 'MAIN_NEWS' | translate }}</h4>
<h4 class="text-uppercase text-white">{{ 'STANDINGS' | translate }}</h4>    