
<div *ngIf="!_loaded" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="_loaded" class="fc-standing">
  <h5 *ngIf="showHeader" class="text-info">{{header}}</h5>
  <mat-form-field *ngIf="showFilter">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'FILTER' | translate">
  </mat-form-field>
  
  <div class="fc-standing-table">
    <mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 col-sm-1">#</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-2 col-sm-1">{{row.position}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="teamName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="col-4 col-sm-5 col-md-4">{{ 'TEAM' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-4 col-sm-5 col-md-4">{{row.teamName}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="games">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 col-sm-1">{{ 'GAMES_SH' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-2 col-sm-1">{{row.games}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="wins">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 col-sm-1">{{ 'WINS_SH' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-2 col-sm-1">{{row.wins}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="draws">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-block col-sm-1">{{ 'DRAWS_SH' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="d-none d-sm-block col-sm-1">{{row.draws}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="loses">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-block col-sm-1">{{ 'LOSES_SH' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="d-none d-sm-block col-sm-1">{{row.loses}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="goals">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-md-block col-md-2 text-center">{{ 'GOALS_SH' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="d-none d-md-block col-md-2 text-center">{{row.goalsFor}}-{{row.goalsAgainst}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="col-2 col-sm-1">{{ 'POINTS_SH' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="col-2 col-sm-1">{{row.points}}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator *ngIf="usePagination" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </div>
</div>