<section class="cover cover-fixed">
  <div class="cover-var-d">
    <div class="cover-container">
      <div class="display-2 d-inline-block pb-3 pt-2 text-uppercase">
          <i class="fa fa-handshake-o inline-divider"></i>
          <span>&nbsp;{{ 'PARTNERS_AND_SPONSORS' | translate }}</span>
      </div>
      <div class="row">
        <div class="col">
          <a href="http://sugar.by">
            <img src="/assets/banners/brands/slutsk_sugar_refinery__banner_small.png"
                  title='ОАО "Слуцкий сахарорафинадный комбинат"'>
          </a>
        </div>
        <div class="col">
          <a href="http://kws.com">
            <img src="/assets/banners/brands/kws__banner_small.png"
              title='KWS - почти 160 лет неизменных традиций и опыта в более 70 странах мира"'>
          </a>
        </div>
        <div class="col">
          <a href="http://bgs.by">
            <img src="/assets/banners/brands/bgs__banner_small.png"
              title='Белорусское республиканское унитарное страховое предприятие "Белгосстрах"'>
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="/assets/banners/brands/slutsk_vostok__banner_small.png"
              title='КТПУП "Слуцк-Восток"'>
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="/assets/banners/brands/trade_house__banner_small.png"
              title='ЗАО "Торговый Дом"'>
          </a>
        </div>        
        <div class="col">
          <a href="http://mayak-rakan.by">
            <img src="/assets/banners/brands/slutsk_mayak__banner_small.png"
              title='Торговый центр "Маяк"'>
          </a>
        </div>
      </div>
    </div>
    <div class="row bg-white mb-5">
      <div class="col cover-container">
        <div class="row pt-4 text-center">
            <div class="col">
              <a href="https://evroopt.by">
                <img src="/assets/banners/brands/euroopt__banner_small.png" 
                    title='ООО "Евроторг" - безусловный лидер на рынке Беларуси'>
              </a>
            </div>
          <div class="col">
            <a href="http://www.noc.by">
              <img src="/assets/banners/brands/nok__banner_small.jpg" 
                  title='Национальный олимпийский комитет Республики Беларусь'>
            </a>
          </div>
          <div class="col">
            <a href="#">
              <img src="/assets/banners/brands/univermag_slutsk__banner_smal.png" 
                  title='КУП Универмаг "Слуцк"'>
            </a>
          </div>
          <div class="col">
            <a href="https://www.sluckmeat.by">
              <img src="/assets/banners/brands/slutsk_meat__banner_small.svg" 
                  title='ОАО "Слуцкий мясокомбинат"'>
            </a>
          </div>
          <div class="col">
            <a href="http://www.slhleb.by/">
              <img src="/assets/banners/brands/slutsk_bread__banner_small.jpg" 
                  title='ОАО "Слуцкий хлебозавод"'>
            </a>
          </div>          
          <!-- <div class="col">
              <a href="#">
                <img src="/assets/banners/brands/slutsktorg__banner_small.jpg" 
                    title='КУП "Слуцкторг"'>
              </a>
            </div>-->
        </div>                 
      </div>
    </div>
    </div>
</section>