<section class="cover cover-fixed">
  <div class="cover-var-d">
    <div class="cover-container">
      <div class="display-2 d-inline-block pb-3 pt-2 text-uppercase">
          <i class="fa fa-handshake-o inline-divider"></i>
          <span>&nbsp;{{ 'PARTNERS_AND_SPONSORS' | translate }}</span>
      </div>
      <div class="row">
        <div class="col">
          <a href="http://sugar.by">
            <img src="/assets/banners/brands/slutsk_sugar_refinery__banner_small.png"
                  title='ОАО "Слуцкий сахарорафинадный комбинат"'>
          </a>
        </div>
        <div class="col">
          <a href="http://mayak-rakan.by">
            <img src="/assets/banners/brands/slutsk_mayak__banner_small.png"
              title='Торговый центр "Маяк"'>
          </a>
        </div>
        <div class="col">
          <a href="http://bgs.by">
            <img src="/assets/banners/brands/bgs__banner_small.png"
              title='Белорусское республиканское унитарное страховое предприятие "Белгосстрах"'>
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="/assets/banners/brands/slutsk_vostok_banner_small.png"
              title='КТПУП "Слуцк-Восток"'>
          </a>
        </div>
      </div>        
    </div>
  </div>
</section>