<h4 class="fc-title">
    <span class="text-secondary" style="font-weight: 400;">{{ youthTeamI18nKey | translate }}&nbsp;|</span>&nbsp;<span>{{team.name}}</span></h4>
<div class="row">
    <div class="col-lg-3 pb-3">
        <app-youth-team-navigation></app-youth-team-navigation>
    </div>
    <div *ngIf="!_loaded" class="col-lg-9 d-flex justify-content-center">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="_loaded" class="col-lg-9">
        <router-outlet></router-outlet>
    </div>
</div>