<div *ngIf="!_loaded" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="_loaded" class="fc-tourney-games">
  <h5 *ngIf="showHeader" class="text-info">{{header}}</h5>

  <!-- <mat-form-field *ngIf="showFilter">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'FILTER' | translate">
  </mat-form-field> -->

  <div class="row" *ngFor="let roundSolid of _scheduler">
      <div class="col-12 text-primary p-2 pt-1" style="font-weight: 500;">
        <span>{{ roundSolid.round.name }}&nbsp;{{ roundSolid.round.i18nKey | translate }}. </span> 
        <span>{{ (('TRN_FULL_' + roundSolid.round.tourney.i18nKey | translate) !== ('TRN_FULL_' + roundSolid.round.tourney.i18nKey)) ? ('TRN_FULL_' + roundSolid.round.tourney.i18nKey | translate) : roundSolid.round.tourney.name }}</span>
      </div>
      <div class="col-12">
        <div class="row" *ngFor="let gamesDay of roundSolid.gamesDays">
            <div class="col-12">
              <div class="badge badge-tertiary text-white mt-1">{{ gamesDay.date | date:'fullDate':'':localeKey }}</div>
            </div>
            <div class="col-12 mb-2 text-gray">
              <div class="row pl-md-3" *ngFor="let game of gamesDay.games">
                <div class="col-1">{{ game.date | date:'HH:mm' }}</div>
                <div class="col-8 pl-4 pl-md-2">{{ game.home.name }} - {{ game.away.name }}</div>
                <div class="col-3">
                  <div class="row" [class.text-info]="!game.played">
                    <div class="col-12 col-sm-auto float-sm-left p-0 pl-1 pr-1">{{ getScore(game) }}</div>
                    <div *ngIf="hasScoreAdd(game);" class="col-12 col-sm-auto float-sm-left p-0 pl-1">
                      <small>{{ 'EX_TIME_SH' | translate }}.&nbsp;{{ game.scoreAddHome }}:{{ game.scoreAddAway }}</small>
                    </div>
                    <div *ngIf="hasPenalties(game);" class="col-12 col-sm-auto float-sm-left p-0 pl-1">
                      <small>{{ 'PENALTY_SH' | translate }}.&nbsp;{{ game.penaltiesHome }}:{{ game.penaltiesAway }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>  
</div>