<div class="card card-profile text-center">
  <div style="min-height: 192px;" class="bg-primary">
    <img alt="" class="card-img-top" [src]="bgImage">
  </div>
  <div class="card-block">
    <img alt="" class="card-img-profile" [src]="image">
    <h4 class="card-title">{{person.nameFirst + " " + person.nameLast}}
      <small>{{ (person.role.i18nKey | translate) !== person.role.i18nKey ? (person.role.i18nKey | translate) : person.role.title }}</small>
    </h4>
    <div *ngIf="person.teams && person.teams.length > 0" class="card-links">
      <span>{{ 'TEAMS' | translate }}:</span>
        <a *ngFor="let team of person.teams" [href]="'teams/' + team.id">
          <span class="badge badge-pill">{{ team.name }}</span>
        </a>
    </div>
    <!-- <div class='card-links'>
      <a class='fa fa-dribbble' href='#'></a>
      <a class='fa fa-twitter' href='#'></a>
      <a class='fa fa-facebook' href='#'></a>
    </div> -->
  </div>
</div>