<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary" style="border-top: 1px solid #ACCCFF;">  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand d-block d-md-none" href="#">&nbsp;<span class="font-weight-light">{{ 'SFC' | translate }}</span>&nbsp;<span class="font-weight-normal">«{{ 'SLUTSK' | translate }}»</span></a>  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.dropdown]="item.subItems" *ngFor="let item of menuItems">
        <a 
          class="nav-link"
          [class.dropdown-toggle]="item.subItems"
          [attr.data-toggle]="(item.subItems && item.subItems.length) ? 'dropdown' : undefined"
          [routerLink]="useHref(item) ? item.path : undefined"
          [routerLinkActive]="['active']" 
          [routerLinkActiveOptions]="{ exact:true }">{{ (item.i18nKey | translate) !== item.i18nKey ? (item.i18nKey | translate) : item.defaultName }}</a>
          <!-- TODO: Encapsulate to separate component with recursion -->
          <div *ngIf="item.subItems" class="dropdown-menu">
            <a *ngFor="let subItem of item.subItems"
              class="dropdown-item"
              [routerLink]="[subItem.path]">{{ (subItem.i18nKey | translate) !== subItem.i18nKey ? (subItem.i18nKey | translate) : subItem.defaultName }}</a>
          </div>
      </li>    
    </ul>
    <app-global-search></app-global-search>
    <div class="ml-2"><app-language-bar></app-language-bar></div>
  </div>
</nav>