<mat-accordion>
    <mat-expansion-panel *ngIf="_videoId > 0" (opened)="loadVideo()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="text-secondary">{{ 'VIDEO' | translate }}</h6>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="!_loadedVideo" class="row">
        <div class="col-12 d-flex justify-content-center">
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <div *ngIf="_loadedVideo" class="d-flex justify-content-center embed-responsive embed-responsive-16by9">
        <div class="embed-responsive-item" [innerHTML]="videoPlayerCode"></div>
      </div>    
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="_galleryId > 0" (opened)="loadGallery()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h6 class="text-secondary">{{ 'PHOTO_GALLERY' | translate }}</h6>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="!_loadedGallery" class="row">
          <div class="col-12 d-flex justify-content-center">
              <mat-spinner></mat-spinner>
          </div>
      </div>      
      <div *ngIf="!loadedGallery" class="d-flex justify-content-center">
        <app-gallery-add [items]="gallery.items"></app-gallery-add>
      </div>          
    </mat-expansion-panel>
  </mat-accordion>    